<body>
  <header class="header">
    <a href="#">
      <img src="../../../assets/images/logo.jpg" alt="Youtube Logo"
      class="Youtube-Logo" />
    </a>
    <form class="search-bar">
      <input class="search-input" type="search" placeholder="Search"
      aria-label="Search"/>
      <button type="submit" class="search-btn">
        <img src="../../../assets/images/magnify.png" alt="magnify"/>
      </button>
    </form>
    <div class="menu-icons">
      <a href="#">
        <img src="../../../assets/images/micro.png" alt="micro"/>
      </a>
      <a href="#">
        <img src="../../../assets/images/apps.png" alt="apps"/>
      </a>
      <a href="#">
        <img src="../../../assets/images/mas.png" alt="mas"/>
      </a>
      <a href="#">
        <img src="../../../assets/images/account.png" alt="account"/>
      </a>

    </div>
  </header>
</body>

