.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Youtube-Logo{
  height: 80px;
}

.search-bar{
  display: flex;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

.search-input{
  width: 100%;
  font-size: inherit;
  padding: .4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn{
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #F8F8F8;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.search-btn:hover{
  background-color: #F8F8F8;
}
