* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 50vh;
  background-color: #fff;
}

.navbar {
  width: 305px;
  height: 60vh;
  background-color: black;
  transition: 0.1s;
}
.nav_link{
  font-size: 1.10em;
}



