<body>
   <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
          <a href="#" class="nav_bar-brand text-light mt-5">
            <div class="display-5 font-weight-bold"> YOUTUBE PB</div>
          </a>
     <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
       <li class="nav-item w-100">
         <a href="#" class="nav_link text-light pl-4">YOUTUBE GAMING
         </a>
       </li>
     </ul>
     <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
       <li class="nav-item w-100">
         <a href="#" class="nav_link text-light pl-4">VIDEOS MUSICALES
         </a>
       </li>
     </ul>
     <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
       <li class="nav-item w-100">
         <a href="#" class="nav_link text-light pl-4">VIDEOBLOGS
         </a>
       </li>
     </ul>
   </nav>



